@import "./../utilities/functions";

.nav {
	position: sticky;
	top: 0;

	p, label {
		margin: 0;
	}

	&-inline {
		padding-top: 17px;
		padding-bottom: 17px;

		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.description {
			color: var(--theme-text-color);
		}

		.menu {
			position: relative;
			margin-left: 20px;
			display: block;

			@include breakpoint-sm {
				display: none;
			}

			&-inner {
				display: block;
				width: 30px;
				height: 30px;
				transition-duration: 0.5s;

				.icon-left {
					transition-duration: 0.5s;
					position: absolute;
					height: 3px;
					width: 15px;
					top: 15px;
					background-color: var(--theme-text-color);

					&:before {
						transition-duration: 0.5s;
						position: absolute;
						width: 15px;
						height: 3px;
						background-color: var(--theme-text-color);
						content: "";
						top: -10px;
					}

					&:after {
						transition-duration: 0.5s;
						position: absolute;
						width: 15px;
						height: 3px;
						background-color: var(--theme-text-color);
						content: "";
						top: 10px;
					}

					&:hover {
						cursor: pointer;
					}
				}

				.icon-right {
					transition-duration: 0.5s;
					position: absolute;
					height: 3px;
					width: 15px;
					top: 15px;
					background-color: var(--theme-text-color);
					left: 15px;

					&:before {
						transition-duration: 0.5s;
						position: absolute;
						width: 15px;
						height: 3px;
						background-color: var(--theme-text-color);
						content: "";
						top: -10px;
					}

					&:after {
						transition-duration: 0.5s;
						position: absolute;
						width: 15px;
						height: 3px;
						background-color: var(--theme-text-color);
						content: "";
						top: 10px;
					}
				}
			}

			&.open .menu-inner {
				.icon-left {
					background: transparent;

					&:before {
						transform: rotateZ(45deg) scaleX(1.4) translate(2px, 1.5px);
						border-radius: 15px;
					}

					&:after {
						transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
						border-radius: 15px;
					}
				}

				.icon-right {
					background: transparent;

					&:before {
						transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
						border-radius: 15px;
					}

					&:after {
						transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
						border-radius: 15px;
					}
				}
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	.items {
		display: none;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		display: block;
		overflow-y: hidden;
		max-height: 0;

		@include breakpoint-sm {
			display: flex;
			align-items: center;
			flex-direction: row;
			width: fit-content;
			max-height: initial;
		}

		a {
			margin: 0;
			color: var(--theme-text-color);
			text-decoration: none;
			width: fit-content;
			display: block;

			@include breakpoint-sm {
				margin-left: 20px;
			}

			&:after {
				content: '';
				display: block;
				background-color: var(--theme-text-color);
				height: 2px;
				width: 0;
			}

			&:hover:after {
				width: 100%;
			}
		}

		&.open {
			display: block;
			max-height: 52px;
		}
	}
}