@import "utilities/variables";
@import "utilities/texts";

html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.3s;
}

.app {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}


html {
	background-color: #fff;
}

main {
	position: relative;
	z-index: 1;
	background-color: white;

	flex: 1 0 auto;
}

p {
	margin-bottom: 0;
}