@import './variables';

.title {
	font-size: 48px;
	display: block;

	&.bold {
		font-weight: bold;
	}
}

.subtitle {
	font-size: 24px;
	display: block;

	&.bold {
		font-weight: bold;
	}
}

.text {
	font-size: 18px;
	display: block;
	line-height: 25px;

	&.bold {
		font-weight: bold;
	}
}

.text-primary {
	color: $primary !important;
}