.title {
	font-size: 48px;

	&.bold {
		font-weight: bold;
	}
}

.subtitle {
	font-size: 24px;

	&.bold {
		font-weight: bold;
	}
}

.text {
	font-size: 18px;
	line-height: 25px;

	&.bold {
		font-weight: bold;
	}
}