@import 'variables';

.light {
	--theme-color: #{$color};
	--theme-page-background: #FFF;
	--theme-page-text: #111;
}

.dark {
	--theme-color: red;
	--theme-page-background: #111;
	--theme-page-text: #FFF;
}